04-05-22: The files mentioned here no longer exist; this notebook is just for an example (I didn't end up using it).

The purpose of this notebook is to make an annotated phylogenetic tree plot based on `210717.lebanon.table_tree.html`, using 75 sequences from Norwich and surrounding England.

tree: `/home/ubuntu/20220228/timetree-madeline/mugration/annotated_tree.nexus`
confidence: `/home/ubuntu/20220228/timetree-madeline/mugration/confidence.csv`
metadata: `/home/ubuntu/20220228/treetime_dates_30.tsv`

In [20]:
library(phangorn)
library(ggtreeExtra)
library(ggtree)
library(ggnewscale)
library(colorspace);
library(RColorBrewer);
library(dplyr)
library(tidyr)
library(ggplot2)
library(ggpubr)
library(stringr)
library(castor)
library(lubridate)
library(ramify)
library(ape)

In [21]:
tree <- "../../data/mugration_plot/annotated_tree.nexus"
confidence <- "../../data/mugration_plot/confidence.csv"
metadata <- "../../data/mugration_plot/treetime_dates_30.tsv"
gtr <- "../../data/mugration_plot/GTR.txt"
pango <- "../../data/mugration_plot/lineage_report.csv"
cog_uk_meta <- "../../data/COG-UK-data/cog_global_2022-04-18_metadata.csv.xz"

In [22]:
tre0 <- read.nexus(tree) #timetree mugration output
tbl00 <- read.csv(metadata,sep="\t")
tbl0 <- read.csv("../../peroba_meta.220209_173253.tsv.xz", sep="\t")
tbl1 <- read.csv(confidence)

In [23]:
head(tbl0,3)

  strain                              gisaid_id       date
1 Albania/CO-00602-XXK000_1740_3/2021 EPI_ISL_9237997 2021-12-03
2 Albania/CO-00602-XXK000_1787_3/2021 EPI_ISL_9237972 2021-12-06
3 Albania/CO-00602-XXK000_1950_3/2021 EPI_ISL_9238008 2021-12-13
  location                   location_gisaid        location_coguk age gender
1 Europe / Albania / Tropoje Europe/Albania/Tropoje NA             85  Male
2 Europe / Albania / Krume   Europe/Albania/Krume   NA             ?   Male
3 Europe / Albania / Tropoje Europe/Albania/Tropoje NA             72  Female
  gisaid_clade pango_lineage timestamp freq_ACGT freq_N seq_hash
1 GK           AY.4          220210.1  27971     1932   9f91794c
2 GK           AY.43         220210.1  29557      346   ec4ce6c5
3 GK           AY.46         220210.1  29170      733   d3a175e0

In [24]:
cog <- read.csv(cog_uk_meta, sep=",")
head(cog,3)

  central_sample_id sequence_name         secondary_identifier sample_date
1                   Australia/VIC473/2020 NA                   2020-03-28
2                   Australia/VIC476/2020 NA                   2020-03-28
3                   Australia/NSW14/2020  NA                   2020-03-03
  epi_week country   adm1            is_surveillance is_travel_history
1 NA       Australia Victoria                        NA
2 NA       Australia Victoria                        NA
3 NA       Australia New_South_Wales                 NA
  travel_history lineage   lineage_support uk_lineage del_lineage phylotype
1                B.1.1.162 1
2                B.1.23    1
3                B.4       1

In [31]:
treetips <- str_replace(tre0$tip.label, "_", "/")
cog <- cog[ cog$sequence_name %in% treetips,] #subset the big .xz file by your leaf tips

In [32]:
head(cog,3)

     central_sample_id sequence_name secondary_identifier sample_date epi_week
     country adm1 is_surveillance is_travel_history travel_history lineage
     lineage_support uk_lineage del_lineage phylotype

Make a dataframe with the sample names and the GTR letter code with the highest likelihood for each:

In [27]:
df <- data.frame(tbl1)
Node <- as.character(df[,'X.name'])

df$X.name <- NULL
Letter <- colnames(df)[max.col(df,ties.method="first")]

dataset1 <- as.data.frame(cbind(Node, Letter))

Map the 4-letter region codes to this dataframe:

  K: ?
  A: ALDP
  B: HSLL
  C: LOND
  D: LSPA
  E: MILK
  F: NORW
  G: PHEC
  H: PHWC
  I: PLYM
  J: QEUH

In [28]:
Region <- c("ALDP", "HSLL", "LOND", "LSPA", "MILK", "NORW", "PHEC", "PHWC", "PLYM", "QEUH", "?")
Letter <- c("A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K")

dict <- data.frame(Letter, Region)

total <- merge(dict,dataset1,by="Letter")

total

   Letter Region Node
1  A      ALDP   England_ALDP-308C434_2021
2  A      ALDP   England_ALDP-30BB6CD_2021
3  A      ALDP   England_ALDP-2FE62BA_2021
4  A      ALDP   England_ALDP-30910ED_2021
5  A      ALDP   England_ALDP-308716F_2021
6  B      HSLL   England_HSLL-3411A10_2022
7  C      LOND   England_LOND-YYBNE1Q_2022
8  D      LSPA   England_LSPA-3096F18_2021
9  E      MILK   England_MILK-307D409_2021
10 E      MILK   England_MILK-3128D5C_2022
11 F      NORW   NODE_0000013
12 F      NORW   NODE_0000003
13 F      NORW   England_NORW-310B1DB_2021
14 F      NORW   England_NORW-3131603_2021
15 F      NORW   NODE_0000000
16 F      NORW   NODE_0000005
17 F      NORW   England_NORW-310A81F_2021
18 F      NORW   NODE_0000004
19 F      NORW   NODE_0000012
20 F      NORW   NODE_0000001
21 F      NORW   England_NORW-3134059_2021
22 F      NORW   NODE_0000023
23 F      NORW   England_NORW-310CD87_2021
24 F      NORW   NODE_0000016
25 F      NORW   NODE_0000002
26 F      NORW   England_NORW-310AC61_2021
27 F      NORW   England_NORW-3130981_2021
28 F      NORW   England_NORW-310AF34_2021
29 F      NORW   England_NORW-3106C6A_2021
30 F      NORW   NODE_0000027
31 F      NORW   England_NORW-310A207_2021
32 F      NORW   England_NORW-31325C9_2021
33 F      NORW   England_NORW-3121DE0_2021
34 F      NORW   NODE_0000011
35 F      NORW   England_NORW-310B970_2021
36 F      NORW   England_NORW-310A900_2021
37 F      NORW   NODE_0000018
38 G      PHEC   England_PHEC-3V068VA5_2021
39 G      PHEC   England_PHEC-YYB3M8U_2021
40 G      PHEC   England_PHEC-3V0B1V3C_2021
41 G      PHEC   NODE_0000006
42 H      PHWC   England_PHWC-PGUS16_2021
43 I      PLYM   England_PLYM-2FD8154_2021
44 J      QEUH   England_QEUH-329870D_2022

In [29]:
tbl0$strain <- gsub('/', '_', tbl0$strain) #replace / with _ in strain column to match the leaf tips
#head(tbl0$strain, 4)

tbl0 <- tbl0[ tbl0$strain %in% tre0$tip.label,] #subset the big peroba.xz file by your leaf tips
tbl0 <- tbl0 %>% separate(col="location_gisaid",into=c("Continent","Country","Province"),sep="/")
tbl0[tbl0==""] <- NA  ## empty Continent, Country become NA
#Leo has more lines to let you choose between location and gisaid_location contents
tbl0 <- tbl0 %>% select (strain,date,Continent,Country,Province,gender,age) #keep just the useful columns

In [30]:
#add pangolin strains

tbl2 <- read.csv (pango)
tbl2 <- tbl2 %>% select (taxon,lineage) %>% rename (strain=taxon)
cat("dim tbl2 (pangolin lineage report) formated= ", dim(tbl2)); head(tbl2,3)

tbl0 <- merge (tbl0, tbl2)

cat("Lineages from NORW in order of frequency: ")
x1 <- tbl0[tbl0["Region"]=="NORW",]
sort(table(x1["lineage"]), decreasing=TRUE)

cat("Lineages from !NORW in order of frequency: ")
x1 <- tbl0[!tbl0["Region"]=="NORW",]
sort(table(x1["lineage"]), decreasing=TRUE)

dim tbl2 (pangolin lineage report) formated=  30 2

  strain                    lineage
1 England_ALDP-2FE62BA_2021 B.1
2 England_ALDP-30BB6CD_2021 B.1
3 England_LSPA-3096F18_2021 B.1

Lineages from NORW in order of frequency:

ERROR: Error in `[.data.frame`(tbl0, "Region"): undefined columns selected

In [ ]:
tbl0$shortdate <- substring(tbl0$date,1,7)
tbl0$Region <- substring(tbl0$strain,9,12)
tbl0[tbl0=="?"] <- NA

# merge rows with same strain  https://stackoverflow.com/a/14283757/204903
suppressWarnings( tbl0 <- aggregate(x=tbl0[,!colnames(tbl0) %in% "strain"], by=list(strain=tbl0$strain), min, na.rm=TRUE) )

tbl0

I don't have access to travel history yet, so for the sake of the tree I'll make it up.  Pretend every sample was taken in Norwich and the codes represent the travel history instead.

In [ ]:
tbl0$local <- "global"
tbl0[tbl0["Region"]=="NORW","local"] <- "exposure"

In [ ]:
#make a new df with the strains as rownames
traits <- tbl0 %>% slice(match(tre0$tip.label, strain))
rownames(traits) <- traits$strain
traits

Exposure Plot

In [ ]:
groupInfo <- split (tre0$tip.label, traits["local"]); 
groupInfo <- groupInfo[c("qib","exposure","global")]  ## last is "ancestral state", when colouring edges (however colors etc. follow alphabetical order)
grouptre <- groupOTU(tre0, groupInfo, group_name="group1")  #ok, probably this is where it merges

In [ ]:
groupInfo #a list

In [ ]:
grouptre

In [ ]:
tre0$node.label

In [ ]:
class(tre0)

In [ ]:
#general plot options for trees

options(repr.plot.width=26, repr.plot.height=20) ; par(oma=c(0,0,0,0)) 
getPal_country = colorRampPalette( c(brewer.pal(12,"Set3"),brewer.pal(8,"Set1")) )(length(unique(traits$Country)))
getPal_lineage = colorRampPalette( brewer.pal(8,"Dark2"))(length(unique(traits$lineage)))  ## RdYlGn Set2
getPal_local   = c("tomato4","gray60","cadetblue4")
getPal_continent = colorRampPalette( brewer.pal(10,"BrBG"))(5)
getPal_region = colorRampPalette( c(brewer.pal(12,"Set3"),brewer.pal(8,"Set1")) )(length(unique(traits$region)))

#p <- ggtree (grouptre,  aes(color=group1),size=0.4, layout="rectangular") %<+% traits
p <- ggtree (grouptre,  aes(color=group1),size=0.4, layout="fan", open.angle=5) # ,  mrsd="2021-07-12", as.Date = T)  ## most recent date
p

In [ ]:
#now do one for Pango

groupInfo2 <- split (tre0$tip.label, traits["lineage"]); 
grouptre2 <- groupOTU(tre0, groupInfo2, group_name="group2")  #ok, probably this is where it merges

#p <- ggtree (grouptre,  aes(color=group1),size=0.4, layout="rectangular") %<+% traits
p <- ggtree (grouptre2,  aes(color=group2),size=0.4, layout="fan", open.angle=5) # ,  mrsd="2021-07-12", as.Date = T)  ## most recent date
p

Combine the nodes and tips into a single dataframe, like `traits`.

In [ ]:
names(total)[names(total) == 'Node'] <- 'strain' #rename

nodes <- total[ total$strain %in% tre0$node.label,]
nodes$Letter <- NULL
cols_to_add <- setdiff(names(traits), names(nodes))
nodes[ , cols_to_add] <- NA

nodes$local <- "global"
nodes[nodes["Region"]=="NORW","local"] <- "exposure"

rownames(nodes) <- nodes$strain

both <- rbind(nodes, traits)

both

In [ ]:
groupInfo <- split (c(tre0$tip.label, tre0$node.label), traits["local"]); 
groupInfo <- groupInfo[c("qib","exposure","global")]  ## last is "ancestral state", when colouring edges (however colors etc. follow alphabetical order)
grouptre3 <- groupOTU(tre0, groupInfo, group_name="group3")  #ok, probably this is where it merges

#p <- ggtree (grouptre,  aes(color=group1),size=0.4, layout="rectangular") %<+% traits
p <- ggtree (grouptre3,  aes(color=group3),size=0.4, layout="fan", open.angle=5) # ,  mrsd="2021-07-12", as.Date = T)  ## most recent date
p

In [ ]:
groupInfo <- split (tre0$tip.label, traits["local"]); 
groupInfo <- groupInfo[c("qib","exposure","global")]  ## last is "ancestral state", when colouring edges (however colors etc. follow alphabetical order)
grouptre3 <- groupOTU(tre0, groupInfo, group_name="group3")  #ok, probably this is where it merges

#p <- ggtree (grouptre,  aes(color=group1),size=0.4, layout="rectangular") %<+% traits
p <- ggtree (grouptre3,  aes(color=group3),size=0.4, layout="fan", open.angle=5) # ,  mrsd="2021-07-12", as.Date = T)  ## most recent date
p

# Annotating Nodes

In [ ]:
library(TDbook)

In [ ]:
tree_boots

In [ ]:
grouptre3

In [ ]:
df_inode_data